/* Navbar.css */

.navbar {
    background-color: #2FCBD8;
    color: white;
    padding: 1rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: .1rem;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .navbar-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Hide on larger screens */
  }
  
  /* Media query for small screens (max-width: 768px) */
  @media only screen and (max-width: 768px) {
    .navbar-links {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #2FCBD8;
      display: none;
    }
  
    .navbar-links.mobile {
      display: flex;
    }
  
    .navbar-links a {
      text-align: center;
      padding: 1rem;
      width: 100%;
      box-sizing: border-box;
      display: block;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  